@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heading-1 {
        @apply py-8 text-center text-3xl font-semibold text-black md:pt-0 md:text-4xl;
    }

    .input-field {
        @apply w-full rounded-md border border-gray-500 p-3 focus:border-primary focus:outline-none;
    }

    .btn-primary-full {
        @apply w-full min-w-fit rounded-md bg-primary px-8 py-3 text-lg font-semibold text-white;
    }

    .btn-primary {
        @apply w-full min-w-fit rounded-lg bg-primary px-8 py-3 text-lg font-semibold text-white sm:w-[250px];
    }

    .btn-danger-full {
        @apply w-full min-w-fit rounded-lg bg-danger px-8 py-3 text-lg font-semibold text-white;
    }

    .btn-danger {
        @apply w-full min-w-fit rounded-lg bg-danger px-8 py-3 text-lg font-semibold text-white sm:w-[250px];
    }

    .btn-reset {
        @apply w-full min-w-fit rounded-lg bg-gray-300 px-8 py-3 text-lg font-semibold text-black sm:w-[250px];
    }

    .btn-reset-full {
        @apply w-full min-w-fit rounded-lg bg-gray-300 px-8 py-3 text-lg font-semibold text-black;
    }

    .react-calendar {
        width: 100% !important;
    }

    .shadow-card {
        box-shadow: 5px 5px 30px #d9d9d9;
    }

    .outlet-page {
        @apply h-screen flex-grow overflow-y-auto px-4;
    }

    .outlet-header {
        @apply flex items-center space-x-2 py-4 text-gray-600;
    }

    .outlet-form {
        @apply flex flex-col gap-4 pb-4 md:flex-row md:gap-8;
    }

    .outlet-form-div {
        @apply flex w-full flex-col items-center;
    }

    .outlet-form-fields {
        @apply grid w-full grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3;
    }

    .password-eye {
        @apply absolute right-3 top-1/2 cursor-pointer bg-white;
    }

    .form-button-group {
        @apply flex w-full flex-col-reverse items-center gap-4 sm:flex-row;
    }

    table td,
    th {
        @apply py-1;
    }
}

.react-select__control {
    padding: 0.3rem;
    width: 100%;
    border-color: rgb(107 114 128) !important;
}

.react-select__control:focus-within {
    border-color: #607afb !important;
    box-shadow: none !important;
}
